*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

html {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  color-scheme: dark light;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, rgb(92, 0, 92), rgb(0, 0, 112));
  display: grid;
  grid-template-rows: 1em auto 1em;
  grid-template-areas:
    "header"
    "aside main"
    "footer";
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: "header";
  margin-top: 2em;
  > * {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(250, 250, 250);
  }
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: "main";
}

aside {
  grid-area: "aside";
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: "footer";

  > * {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(250, 250, 250);
    margin-bottom: 2em;
  }
}

.interface-container {
  width: 90%;
  height: auto;
  border-radius: 0.5em;
  padding: 1.5em;
  background-color: rgb(60, 60, 60);
  box-shadow: 2px 2px 5px black;

  @media (min-width: 480px) {
    // width: 27em;
  }

  @media (min-width: 768px) {
    width: 40em;
  }

  @media (min-width: 1024px) {
    width: 50em;
  }
}

.interfaceDisplay-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 4em;
  border-radius: 0.5em;
  margin-bottom: 1em;
  color: rgb(240, 240, 240);
  background-color: rgb(15, 15, 15);

  > * {
    font-family: "Courier New", Courier, monospace;
    margin-right: 1rem;
    font-size: 2rem;
  }
}

.numpad-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.75em;

  @media (min-width: 480px) {
    gap: 1em;
  }

  & .double-zero {
    grid-column: span 2;
  }

  > * {
    min-width: 2.5em;
    min-height: 8vh;
    color: rgb(240, 240, 240);
    border: none;
    border-radius: 0.5em;
    background-color: rgb(60, 60, 60);
    box-shadow: 2px 2px 5px black;
    font-size: 1rem;

    &:hover {
      background-color: rgb(55, 55, 55);
    }
    &:active {
      background-color: rgb(45, 45, 45);
    }
  }
}
.keyboard-pressed {
  background-color: rgb(45, 45, 45);
}
