* {
  box-sizing: border-box;
}

:root {
  --border-radius-small: 0.5em;
  --border-radius-large: 1em;

  --button-default: rgb(60, 60, 60);
  --button-hover: rgb(53, 53, 53);
  --button-active: rgb(45, 45, 45);

  --color-white: rgb(250, 250, 250);
  --color-white2: rgb(240, 240, 240);
  --color-black: rgb(30, 30, 30);
  --color-darkgray: rgb(60, 60, 60);
}

a {
  color: var(--color-white);
  text-decoration: none;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, rgb(92, 0, 92), rgb(0, 0, 112));
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera, and Edge */
}

main {
  display: grid;
  place-items: center;
  height: 100%;
  // position: relative;
  // bottom: 50px;
}

.interface-container {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-small);
  padding: 1.5em;
  background-color: var(--color-darkgray);
  box-shadow: 2px 2px 10px var(--color-black);

  h1 {
    margin: 0 0 1em;
    text-align: center;
    font-size: 1.5rem;
    color: var(--color-white);
  }

  @media (min-width: 480px) {
    width: 90%;
    max-height: 90%;
  }

  @media (min-width: 768px) {
    max-width: 50em;
    max-height: 45em;
  }
}

.interface-subcontainer {
  width: 100%;
}

.interfaceDisplay-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 4em;
  border-radius: var(--border-radius-small);
  margin-bottom: 1em;
  color: var(--color-white2);
  background-color: rgb(15, 15, 15);

  > * {
    font-family: "Courier New", Courier, monospace;
    margin-right: 1rem;
    font-size: 2rem;
  }
}

.numpad-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.75em;

  @media (min-width: 480px) {
    gap: 1em;
  }

  & .double-zero {
    grid-column: span 2;
  }

  button {
    min-width: 2.5em;
    min-height: 4em;
    color: var(--color-white2);
    border: none;
    border-radius: var(--border-radius-small);
    background-color: var(--button-default);
    box-shadow: 2px 2px 5px black;
    font-size: 1.25rem;

    @media (min-width: 768px) {
      max-width: 100%;
      height: 4em;
    }

    &:hover {
      background-color: var(--button-hover);
    }
    &:active {
      background-color: var(--button-active);
    }
  }
  .key-click {
    background-color: var(--button-active);
  }
}
.product-owner {
  display: grid;
  place-items: center;
  margin: 1em 0 0;
  span {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-white);

    a:hover {
      text-decoration: underline;
    }
  }
}
